<div class="footer">
	<div class="flex" style="display: flex">
		<div class="text">
			<a (click)="goHome()">Home</a> | <a (click)="goDisclaimer()">Disclaimer</a> | <a
				(click)="goTerms()">Terms</a> | <a (click)="goPrivacy()">Privacy</a> | <a
				(click)="goCareers()">Careers</a> | <a (click)="goRefund()">Pricing Cancellation & Refund Policy</a>
		</div>

		<div class="socialicons" style="margin-left: 20%">
			<a href="https://www.facebook.com/advorater">
				<i style="margin-right: 10px" class="fab fa-facebook"></i>
			</a>

			<a href="https://twitter.com/advorater">
				<i style="margin-right: 10px" class="fab fa-twitter"></i>
			</a>
			<a href="https://www.linkedin.com/company/advorater/">
				<i style="margin-right: 10px" class="fab fa-linkedin"></i>
			</a>
		</div>
	</div>
	<p style="color: ghostwhite">Advorater © 2016</p>

</div>



