

  <div align="center">
    <div style="font-size:30px; margin-top: 50px;color: #206398;">
      About Advorater
    </div>

    <p style="margin-top: 20px; width: 800px; max-width: 90%; font-size: 14px; line-height: 30px; text-align: justify">Advorater has
      experienced lawyers who can understand your legal issues and provide legal advice in India over the phone.
      Our experts have vast experience on entire spectrum legal fraternity and are placed all over India. You can
      select, call over phone and discuss with them based on their legal expertise, your preferred language of
      communication and location. You can find here our registered lawyers who can provide legal advice in India
      over phone at affordable charges. Click on the advocate and follow the steps to contact them. We offer
      comprehensive support to all our customers, with a large team of experts and network of affiliates just a
      phone call away.</p>

    <button (click)="register()" style="background-color: #206398; margin-top: 40px; color: white; border-radius: 5px;font-size: 16px;
     padding: 8px">Advocates can signup from here
    </button>
  </div>


