.container {
  height: 450px;
  width: 100%;
  padding: 2em;
  max-width: 100vw!important;
}
.text11{
  color: black;
  font-size: 14px;
}
.card11{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 10px;
  max-width: 100%;
}

.no-pad{
  padding: 5px;
  height: 45px;
  max-width: 100%!important;
}

input{
  color: black;
}

input::placeholder {
  color: darkgray;
}

.item{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;;
  margin: 10px;
  color: black;
  height: 60px;
  min-width: 100px;
}
